# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/Week_1/[Ll]ibrary/
/Week_1/[Tt]emp/
/Week_1/[Oo]bj/
/Week_1/[Bb]uild/
/Week_1/[Bb]uilds/
/Week_1/[Ll]ogs/
/Week_1/[Uu]ser[Ss]ettings/

/Week_2/[Ll]ibrary/
/Week_2/[Tt]emp/
/Week_2/[Oo]bj/
/Week_2/[Bb]uild/
/Week_2/[Bb]uilds/
/Week_2/[Ll]ogs/
/Week_2/[Uu]ser[Ss]ettings/

/Week_3/[Ll]ibrary/
/Week_3/[Tt]emp/
/Week_3/[Oo]bj/
/Week_3/[Bb]uild/
/Week_3/[Bb]uilds/
/Week_3/[Ll]ogs/
/Week_3/[Uu]ser[Ss]ettings/

/Week_4/[Ll]ibrary/
/Week_4/[Tt]emp/
/Week_4/[Oo]bj/
/Week_4/[Bb]uild/
/Week_4/[Bb]uilds/
/Week_4/[Ll]ogs/
/Week_4/[Uu]ser[Ss]ettings/

/Week_5/[Ll]ibrary/
/Week_5/[Tt]emp/
/Week_5/[Oo]bj/
/Week_5/[Bb]uild/
/Week_5/[Bb]uilds/
/Week_5/[Ll]ogs/
/Week_5/[Uu]ser[Ss]ettings/

/Week_6/[Ll]ibrary/
/Week_6/[Tt]emp/
/Week_6/[Oo]bj/
/Week_6/[Bb]uild/
/Week_6/[Bb]uilds/
/Week_6/[Ll]ogs/
/Week_6/[Uu]ser[Ss]ettings/

/Week_7/[Ll]ibrary/
/Week_7/[Tt]emp/
/Week_7/[Oo]bj/
/Week_7/[Bb]uild/
/Week_7/[Bb]uilds/
/Week_7/[Ll]ogs/
/Week_7/[Uu]ser[Ss]ettings/

/Week_8/[Ll]ibrary/
/Week_8/[Tt]emp/
/Week_8/[Oo]bj/
/Week_8/[Bb]uild/
/Week_8/[Bb]uilds/
/Week_8/[Ll]ogs/
/Week_8/[Uu]ser[Ss]ettings/

/Week_9/[Ll]ibrary/
/Week_9/[Tt]emp/
/Week_9/[Oo]bj/
/Week_9/[Bb]uild/
/Week_9/[Bb]uilds/
/Week_9/[Ll]ogs/
/Week_9/[Uu]ser[Ss]ettings/

/Week_10/[Ll]ibrary/
/Week_10/[Tt]emp/
/Week_10/[Oo]bj/
/Week_10/[Bb]uild/
/Week_10/[Bb]uilds/
/Week_10/[Ll]ogs/
/Week_10/[Uu]ser[Ss]ettings/

/Week_11/[Ll]ibrary/
/Week_11/[Tt]emp/
/Week_11/[Oo]bj/
/Week_11/[Bb]uild/
/Week_11/[Bb]uilds/
/Week_11/[Ll]ogs/
/Week_11/[Uu]ser[Ss]ettings/

/Week_12/[Ll]ibrary/
/Week_12/[Tt]emp/
/Week_12/[Oo]bj/
/Week_12/[Bb]uild/
/Week_12/[Bb]uilds/
/Week_12/[Ll]ogs/
/Week_12/[Uu]ser[Ss]ettings/

/Week_13/[Ll]ibrary/
/Week_13/[Tt]emp/
/Week_13/[Oo]bj/
/Week_13/[Bb]uild/
/Week_13/[Bb]uilds/
/Week_13/[Ll]ogs/
/Week_13/[Uu]ser[Ss]ettings/

/Week_14/[Ll]ibrary/
/Week_14/[Tt]emp/
/Week_14/[Oo]bj/
/Week_14/[Bb]uild/
/Week_14/[Bb]uilds/
/Week_14/[Ll]ogs/
/Week_14/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
Week_1/.vsconfig
Week_2/.vsconfig
